:root {
    --primary-cyan: hsl(180, 66%, 49%);
    --primary-lightcyan: hsl(180, 66%, 70%);
    --primary-darkviolet: hsl(257, 27%, 26%);
    --secondary-red: hsl(0, 87%, 67%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-gray: hsl(0, 0%, 75%);
    --neutral-grayishviolet: hsl(257, 7%, 63%);
    --neutral-darkblue: hsl(255, 11%, 22%);
    --neutral-darkvoilet: hsl(260, 8%, 14%);

    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#app {
    isolation: isolate;
}